/* helpers */
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.position-center {
	display: flex;
	align-items: center;
	align-self: center;
	justify-content: center;
}
.display-inline {
	display: inline-block;
}
.display-block {
	display: block;
}
.display-none {
	display: none;
}
.col-50 {
	width: 50%;
}
.clear {
	display: block;
	clear: both;
	float: none;
}
.clearfix:after,
.clearfix:before {
  display: table;
  content: " "
}
.clearfix:after {
  clear: both
}
.spread-across {
  clear: both;
  margin-left: -9999px;
  margin-right: -9999px;
  padding-left: 9999px;
  padding-right: 9999px;
}

























*,
*:before,
*:after {
	box-sizing: border-box;
}
body {
	background: #fff;
}
#page {
	margin-top: 0;
	padding-left: 0;
	padding-right: 0;
	box-shadow: none;
	width: 100%;
	max-width: none;
}
.container {
	max-width: 1200px;
	margin: auto;
	padding: 0 20px;
}







